<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Internal SEO Linking
 *
 * LICENSE: this source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Ikantam
 * @package     Ikantam_Internalseolinking
 * @copyright   Copyright (c) 2012 iKantam LLC (http://www.ikantam.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Ikantam_Internalseolinking>
            <version>0.1.0</version>
        </Ikantam_Internalseolinking>
    </modules>

    <frontend>
        <events>
            <catalog_helper_output_construct>
                <observers>
                    <internalseolinking>
                        <class>internalseolinking/observer</class>
                        <method>assignHandlers</method>
                    </internalseolinking>
                </observers>
            </catalog_helper_output_construct>
        </events>
    </frontend>

    <global>
        <helpers>
            <internalseolinking>
                <class>Ikantam_Internalseolinking_Helper</class>
            </internalseolinking>
        </helpers>
        
        <blocks>
            <internalseolinking>
                <class>Ikantam_Internalseolinking_Block</class>
            </internalseolinking>
        </blocks>
            
        <models>
            <widget>
                <rewrite>
                    <template_filter>Ikantam_Internalseolinking_Model_Template_Filter</template_filter>
                </rewrite>
            </widget>
            
            <internalseolinking>
                <class>Ikantam_Internalseolinking_Model</class>
                <resourceModel>internalseolinking_resource</resourceModel>
            </internalseolinking>
            
            <internalseolinking_resource>
                <class>Ikantam_Internalseolinking_Model_Resource</class>
                <entities>
                    <internalseolinking>
                        <table>ikantam_internalseolinking</table>
                    </internalseolinking>
                </entities>
            </internalseolinking_resource>
        </models>
    
        <resources>
            <internalseolinking_setup>
                <setup>
                    <module>Ikantam_Internalseolinking</module>
                    <class>Ikantam_Internalseolinking_Model_Resource_Setup</class>
                </setup>
            </internalseolinking_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <internalseolinking>
                <use>admin</use>
                <args>
                    <module>Ikantam_Internalseolinking</module>
                    <frontName>internalseolinking</frontName>
                </args>
            </internalseolinking>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <internalseolinking>
                    <file>internalseolinking.xml</file>
                </internalseolinking>
            </updates>
        </layout>
        
        <translate>
            <modules>
                <Ikantam_Internalseolinking>
                    <files>
                        <default>Ikantam_Internalseolinking.csv</default>
                    </files>
                </Ikantam_Internalseolinking>
            </modules>
        </translate>
    </adminhtml>
    
</config> 
